{
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": false,
  "jsxSingleQuote": false,
  "printWidth": 150,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "semi": true,
  "singleAttributePerLine": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "vueIndentScriptAndStyle": true,
  "plugins": ["prettier-plugin-svelte"]
}
